
<br>
<div class="container ">
  <button class="btn-dark col-3 mb-4" routerLink="/listerEvt" style="background-color: black; color:white;border-color: white">Evènement créé & participé</button>
  <div class="form-group row">
    <label for="prenom" class="col-xs-4 col-md-2 col-form-label ">Prenom :</label>
    <div class="col-xs-8 col-sm-4">
      <input type="text" class="form-control" id="prenom" [(ngModel)]="formulaire.prenom">
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="nom" class="col-xs-4 col-md-2 col-form-label">Nom :</label>
    <div class="col-xs-8 col-sm-4">
      <input type="text" class="form-control" id="nom" [(ngModel)]="formulaire.nom">
    </div>
  </div>
  <br>
  <button class="btn-dark col-3" style="background-color: black; color:white;border-color: white">Refuser</button>
  <button class="btn-dark col-3" style="background-color: black; color:white;border-color:white ">Valider</button>

  <br>
</div>
