<br>
<div class="container">
<table class="table table-striped">
  <thead>
  <tr>
  <th class="col-2">#</th>
  <th class="col-2">Titre</th>
  <th class="col-2">Description</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rdv of this.liste; index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{rdv.titre}}</td>
    <td>{{rdv.description}}</td>
    <td>
      <button class="col-12" routerLink="/detail/{{rdv.id}}" style="background-color: black; color:white;">Detail</button>
    </td>
  </tr>
  </tbody>


</table>


<button class="btn-dark col-12" routerLink="/ajouter">Ajouter un RDV</button>
<br>
</div>

